<div class="parent">

    <div class="child">

        <form [formGroup]="loginForm">

            <h1>Login</h1>

            <label for="">Email:</label>
            <input type="text" formControlName="email">
            <br>  

            <label for="">Password:</label>
            <input type="text" formControlName="password">
            <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                <p *ngIf="loginForm.get('password')?.errors?.['pattern']">Password should contain one cap, .......</p>
            </div>
            <br>

            <button (click)="login()">Login</button>

        </form>

    </div>

</div>