<div class="parent">
    
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <h2 routerLink="welcome">Welcome</h2>
        <h2 routerLink="home">Home</h2>
        <h2 routerLink="data-binding">Data Binding</h2>
        <h2 routerLink="calculator">Calculator</h2>
        <h2 routerLink="directives">Directives</h2>
        <h2 routerLink="pipes">Pipes</h2>
        <h2 routerLink="flipkart">Flipkart</h2>
        <h2 routerLink="vehicle">Vehicle</h2>
        <h2 routerLink="create-vehicle">create-vehicle</h2>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>

</div>

<!-- <iframe src="https://pages.razorpay.com/pl_OWcNy3RT6S4Qhs/view" width="100%" height="100%" frameborder="0"></iframe> -->
































